:root{
    --main-card-color:white;
    --main-accent-color: #FEBD2F;
    --main-par-color: #DCDCDC;
    --main-but-border-radius: 28px;
}

a {
    text-decoration: none;
}

button{
    border: none;
}

body{
    margin: 0;
    background-color:#F5F3EF;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

header{
    padding: 30px 80px 30px 80px;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a{
    margin-right: 20px;
    color: black;
}

.button-2{
    border-radius: var(--main-but-border-radius);
    background-color: black;
    color: white;
    height: 48px;
    width: 130px;
}

.introContainer{
    padding: 30px 80px 30px 80px;
    height: 440px;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardContainer{
    padding: 30px 80px 30px 80px;
    grid-column: span 3;
    grid-row: span 2;
    display: flex;
    
}

.cardExplore{
    grid-column: span 1;

}

.cardCourses{
    grid-column: span 1;

}

footer {
    height: 80px;
    background-color: var(--main-accent-color);
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}