:root{
    --main-card-color:white;
    --main-accent-color: #FEBD2F;
    --main-par-color: #646464;
    --main-but1-color: #DCDCDC;
    --main-but-border-radius: 28px;
}

a {
    text-decoration: none;
}

p {
    color: var(--main-par-color);
}

button{
    border: none;
}

.threeLine{
    display: none;
}

/* Grid template areas haven’t been used to display items at different positions in different viewports.
This was a requirement in the rubric. */
body{
    /* We have 2 fonts in the Figma file but you have only used one. */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color:#F5F3EF;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 600px auto 100px;
}

header{
    padding: 30px 80px 30px 80px;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a{
    margin-right: 20px;
    color: black;
}

.button-2{
    border-radius: var(--main-but-border-radius);
    background-color: black;
    color: white;
    height: 48px;
    width: 130px;
}

.introContainer{
    padding: 30px 80px 0px 80px;
    height: 440px;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headingInfo h1{
    font-weight: 500;
    font-size: 64px;
}

.headingInfo p{
    font-weight: 500;
    font-size: 20px;
}

.cardContainer{
    grid-column: span 3;
    padding: 0px 80px 100px 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.cardExplore{
    grid-column: span 1;
    background-color: var(--main-accent-color);
    border-radius: 40px;
    height: 324px;
    font-size: 30px;
    padding: 10%;
}

.cardCourses{
    grid-column: span 1;
    height: 324px;
    border-radius: 40px;
    padding: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardCourses h3{
    font-family: roboto serif;
    font-size: 24px;
    font-weight: 700;
}

/* Even-though it looks like you achieved placing the logo above the card, it is not the proper way. You should give the icon a position of absolute, this will bring the icon out of the document flow.
Then you need to give the card a position of relative in order for the icon to be placed in relative to the card. */
.cardCourses img{
    width: 70px;
    height: 70px;
    position: relative;
    left: 200px;
    top: -160px;
}

.button-1{
    border-radius: var(--main-but-border-radius);
    height: 48px;
    width: 130px;
    background-color: white;
    border: 1px solid var(--main-but1-color);
}

footer {
    background-color: var(--main-accent-color);
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
/* You have some duplicated code in your media queries.
You should just mention the changes you make in each class.
For example, in the media query for the 800px break point, in the body you still have display: grid; there.
You should only mention what is being changed in all media queries. */
    body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px auto auto 100px;
    }

    header{
        padding: 30px 40px 30px 40px;
        grid-column: span 2;
    }

    .introContainer{
        padding: 30px 40px 30px 40px;
        grid-column: span 2;
        flex-direction: column;
        height: 800px;
    }

    .headingInfo h1{
        font-size: 60px;
    }

    .cardContainer{
        grid-column: span 2;
        padding: 0px 40px 50px 40px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
    }

    .cardExplore{
        height: 271px;
        font-size: 23px;
    }

    .cardCourses{
        height: 271px;
    }

    .cardCourses h3{
        font-size: 20px;
    }

    .cardCourses img{
        width: 70px;
        height: 70px;
        position: relative;
        left: 170px;
        top: -120px;
    }

    .button-1{
        height: 40px;
    }

    .cardCourses p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
/* Good job on displaying the hamburger menu on mobile devices. It’s not a functional hamburger menu. */
    .threeLine{
        display: block;
        position: relative;
        left: 100px;
    }

    body{
        display: flex;
        flex-direction: column;
    }

    header{
        padding: 10px 40px 10px 40px;
        justify-content: center;
    }

    nav a{
        display: none;
    }

    .button-2{
        display: none;
    }

    .introContainer{
        padding: 10px 40px 10px 40px;
        height: auto;
    }

    .headingInfo h1{
        font-size: 35px;
    }

    .headingInfo p{
        font-size: 18px;
    }

    .cardContainer{
        padding: 10px 40px 10px 40px;
        grid-template-columns: repeat(1, 1fr);
    }

    .cardExplore{
        height: 100px;
        font-size: 15px;
        padding: 10px 90px 10px 30px;
    }

    .cardCourses{
        height: 260px;
    }

    .cardCourses h3{
        font-family: roboto serif;
        font-size: 20px;
    }

    .cardCourses img{
        width: 60px;
        height: 60px;
        position: relative;
        left: 230px;
        top: -140px;
    }

    footer {
        height: 100px;
        margin-top: 50px;
    }
}